.settings-content-container {
  display: flex;
  flex-direction: column;
  > * + * {
    margin-top: 16px;
  }
}

.settings-question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * + * {
    margin-left: 16px;
  }
}
