<mat-card appearance="outlined">
  <div
    class="gpt-requester"
    *ngIf="!isLoading; else loading">
    <div
      fxLayout="row"
      style="padding: 0">
      <mat-form-field
        style="width: 100%"
        floatLabel="always"
        *ngIf="conversation.length < 1">
        <mat-icon
          matPrefix
          class="search-icon"
          style="margin-right: 0.1em">
          search
        </mat-icon>
        <mat-label></mat-label>
        <input
          placeholder="{{ 'gpt-chat.prompt-label' | translate }}"
          type="text"
          aria-label="Prompt"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="searchTerm"
          (focus)="filterPrompts()"
          (input)="filterPrompts()" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let prompt of filteredPrompts"
            [value]="prompt.act"
            (click)="sendGPTContent = prompt.prompt; autoGrow(autoGrowElement)"
            class="mat-option"
            [ngClass]="{
              'mat-option-header':
                prompt.act === 'acts' || prompt.act === 'prompts'
            }"
            [disabled]="!prompt.prompt">
            <ng-container *ngIf="prompt.act !== null && prompt.prompt !== null">
              {{ "(" + prompt.language + ") " + prompt.act }}
            </ng-container>
            <ng-container
              *ngIf="prompt.act === 'acts' && prompt.prompt === null">
              <div class="counter-container">
                <span>
                  {{ "gpt-chat.option-total-acts" | translate }} ({{
                    amountOfFoundActs
                  }})
                </span>
              </div>
            </ng-container>
            <ng-container
              *ngIf="prompt.act === 'prompts' && prompt.prompt === null">
              <div class="counter-container">
                <span>
                  {{ "gpt-chat.option-total-prompts" | translate }} ({{
                    amountOfFoundPrompts
                  }})
                </span>
              </div>
            </ng-container>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div
      *ngFor="let item of conversation; let i = index"
      [class]="item.type">
      <mat-icon
        class="chatgpt-robot-icon"
        *ngIf="item.type === 'gpt'"></mat-icon>
      <!-- TODO: <div
        markdown
        emoji
        katex>
        {{ formatText(item.message) }}
      </div> -->
      <button
        class="refresh-indicator"
        [matTooltip]="'gpt-chat.refresh' | translate"
        mat-icon-button
        *ngIf="!isSending && item.type === 'gpt'"
        (click)="refreshGPTMessage(i)">
        <mat-icon class="material-icons-round">autorenew</mat-icon>
      </button>
      <button
        *ngIf="isSending && renewIndex === i"
        mat-icon-button
        (mousedown)="stopper.next(true)"
        class="refresh-indicator">
        <mat-icon class="material-icons-outlined">cancel</mat-icon>
      </button>
    </div>

    <div class="slide-container">
      <mat-slider
        [matTooltip]="'gpt-chat.temperature-tooltip' | translate"
        showTickMarks
        min="0"
        max="2"
        step="0.05"
        #ngSlider>
        <input
          matSliderThumb
          [value]="temperature"
          (input)="
            temperature = {
              source: ngSliderThumb,
              parent: ngSlider,
              value: ngSliderThumb.value
            }.value
          "
          #ngSliderThumb="matSliderThumb" />
        <input matSliderThumb />
      </mat-slider>
      <mat-form-field>
        <mat-label>{{ "gpt-chat.temperature" | translate }}</mat-label>
        <input
          [matTooltip]="'gpt-chat.temperature-tooltip' | translate"
          [(ngModel)]="temperature"
          matInput
          inputmode="numeric"
          min="0"
          max="2"
          step="0.05"
          type="number"
          appAccessibilityEscapedInput />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>
        {{ "gpt-chat.enter-conversation-text" | translate }}
      </mat-label>
      <textarea
        (input)="autoGrow(autoGrowElement)"
        (keydown)="onKeyDown($event)"
        #autoGrowElement
        matInput
        appAccessibilityEscapedInput
        [(ngModel)]="sendGPTContent"></textarea>
      <mat-hint>
        {{ "gpt-chat.token-info" | translate: tokenInfo }}
      </mat-hint>
    </mat-form-field>

    <button
      *ngIf="!isSending; else loading"
      mat-button
      class="secondary-btn"
      (click)="sendGPTMessage()">
      {{ "gpt-chat.send" | translate }}
    </button>
    <button
      *ngIf="!isSending"
      mat-button
      class="danger-btn"
      (click)="clearMessages()">
      {{ "gpt-chat.empty-conversation" | translate }}
    </button>
  </div>
  <div *ngIf="error">
    {{ getError() }}
  </div>
</mat-card>

<ng-template #loading>
  <app-mat-spinner-overlay
    color="on-surface"
    [diameter]="40"
    [strokeWidth]="5"></app-mat-spinner-overlay>
</ng-template>
