.star_container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 0.75em;

  > mat-icon {
    color: var(--custom-stars);
  }
}

.global_people {
  display: block;
  margin-bottom: 0.75em;
}

::ng-deep .star_bars {
  display: flex;
  line-height: 1.25 !important;
  font-size: 1.2em;
  margin-bottom: 0.75em;

  > .star_bars_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  > .star_progress_bars {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-top: 0.125em;

    > mat-progress-bar {
      height: 1em;
      --mdc-linear-progress-track-height: 1em;
      --mdc-linear-progress-active-indicator-height: 1em;
      --mdc-linear-progress-active-indicator-color: var(--custom-stars);
    }
  }

  > .star_bars_percent {
    flex-grow: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}
