<h2 mat-dialog-title>{{ "gpt-chat.privacy-policy" | translate }}</h2>

<mat-dialog-content tabindex="-1">
  <app-gptprivacypolicy-de
    *ngIf="currentLanguage === 'de'"></app-gptprivacypolicy-de>
  <app-gptprivacypolicy-en
    *ngIf="currentLanguage === 'en'"></app-gptprivacypolicy-en>
  <app-gptprivacypolicy-fr
    *ngIf="currentLanguage === 'fr'"></app-gptprivacypolicy-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="primary-button"
    [mat-dialog-close]="true">
    {{ "gpt-chat.optin-accept" | translate }}
  </button>

  <!-- Deactiv the Send Button from gpt-chat component -->
  <button
    mat-stroked-button
    class="error-button"
    [mat-dialog-close]="false">
    {{ "gpt-chat.optin-reject" | translate }}
  </button>
</mat-dialog-actions>
