<div class="header-comp">
  <div class="header-comp-side">
    <app-navigation [showText]="!showSmallButtons"></app-navigation>
    <button
      id="tour-button"
      mat-button
      aria-labelledby="tour-label"
      [matTooltip]="'header.tour-button' | translate"
      [disabled]="!startUpFinished()"
      *ngIf="router.url.endsWith('/home') && !isSafari"
      (click)="startTour()">
      <mat-icon>flag</mat-icon>
      <ng-container *ngIf="!isMobile && !showSmallButtons">
        {{ "header.tour" | translate }}
      </ng-container>
    </button>
  </div>
  <div class="header-comp-page">
    <div
      *ngIf="
        headerService.isToggleCurrentUserActivity() && room?.mode === 'ARS'
      ">
      <div matTooltip="{{ 'header.users-online' | translate }}"></div>
      <span>
        {{ headerService.getCurrentUserActivity() }}
      </span>
    </div>
    <button
      mat-flat-button
      tabindex="0"
      [joyrideStep]="'chatGPT'"
      [stepPosition]="'bottom'"
      appJoyrideTemplate
      [matTooltip]="'header.chat-gpt-button' | translate"
      *ngIf="
        !router.url.endsWith('/gpt-chat-room') &&
        isInRouteWithRoles &&
        !router.url.endsWith('/brainstorming')
      "
      (click)="openGPT()">
      <span></span>
      <span *ngIf="!showSmallButtons && !isMobile">
        {{ "header.gpt-chat" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.chat-gpt-button' | translate"
      *ngIf="
        router.url.endsWith('/brainstorming') &&
        room?.brainstormingSession?.active &&
        userRole > 0
      "
      (click)="openBrainstormingGPT()">
      <span></span>
      <span *ngIf="!showSmallButtons && !isMobile">
        {{ "header.gpt-brainstorming" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      routerLink="/gpt-prompts"
      tabindex="0"
      [joyrideStep]="'chatGPT'"
      [stepPosition]="'bottom'"
      appJoyrideTemplate
      [matTooltip]="'header.gpt-prompts' | translate"
      *ngIf="router.url.endsWith('/gpt-chat-room') && isInRouteWithRoles">
      <mat-icon>terminal</mat-icon>
      <span *ngIf="!showSmallButtons && !isMobile">
        {{ "header.gpt-prompts" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.quiz-rally-button' | translate"
      *ngIf="
        !router.url.endsWith('moderator/comments') &&
        router.url.endsWith('/comments') &&
        room?.quizActive &&
        !isMobile
      "
      routerLink="quiz">
      <mat-icon>rocket_launch</mat-icon>
      <span *ngIf="!showSmallButtons">
        {{ "header.quiz-now" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.livepoll-button' | translate"
      (click)="openLivepollDialog()"
      *ngIf="
        navigationAccess.livepoll(router.url, room, roomState) &&
        room?.mode === 'ARS'
      ">
      <mat-icon>flash_on</mat-icon>
      <span *ngIf="!isMobile && !showSmallButtons">
        {{ "header.livepoll" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.question-radar-button' | translate"
      *ngIf="
        !router.url.endsWith('moderator/comments') &&
        router.url.endsWith('/comments') &&
        !isMobile &&
        ((tagCloudDataService.currentData?.size || 0) > 0 ||
          topicCloudAdminService.isTopicRequirementActive())
      "
      (click)="navigateCloud()">
      <mat-icon>radar</mat-icon>
      <span *ngIf="!showSmallButtons">
        {{ "header.tag-cloud" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.brainstorming-button' | translate"
      *ngIf="
        !router.url.endsWith('moderator/comments') &&
        router.url.endsWith('/comments') &&
        room?.brainstormingActive &&
        !isMobile &&
        (!!room?.brainstormingSession || userRole > 0)
      "
      (click)="navigateBrainstormingDialog()">
      <mat-icon *ngIf="room?.brainstormingSession?.active">
        tips_and_updates
      </mat-icon>
      <mat-icon *ngIf="!room?.brainstormingSession?.active">
        tips_and_updates
      </mat-icon>
      <span *ngIf="!showSmallButtons">
        {{ "header.brainstorming" | translate }}
      </span>
    </button>

    <div
      *ngIf="
        room?.brainstormingSession?.active &&
        ((!router.url.endsWith('/brainstorming') && isMobile) ||
          router.url.endsWith('/room/' + sessionService.currentRoom?.shortId))
      ">
      <mat-icon
        [ngClass]="'clickable'"
        (click)="navigateBrainstormingDirectly()"
        [matTooltip]="
          'header.brainstorm-active' +
            (!router.url.endsWith('/brainstorming') ? '-clickable' : '')
            | translate
        ">
        tips_and_updates
      </mat-icon>
    </div>

    <span
      *ngIf="
        isInRouteWithRoles && userRole !== null && actualRole !== userRole
      ">
      <mat-icon [matTooltip]="'header.not-in-own-view' | translate">
        groups_3
      </mat-icon>
    </span>

    <h2 *ngIf="router.url.endsWith('/moderator/comments') && !isMobile">
      {{ "header.moderation-warning" | translate }}
    </h2>

    <div
      *ngIf="
        hasEmailNotifications &&
        router.url.endsWith('/room/' + sessionService.currentRoom?.shortId)
      ">
      <mat-icon [matTooltip]="'header.active-email-notification' | translate">
        email
      </mat-icon>
    </div>

    <span
      *ngIf="room && !room.directSend && router.url.includes('comments')"
      fxLayoutAlign="center center">
      <mat-icon matTooltip="{{ 'header.moderation-enabled' | translate }}">
        gavel
      </mat-icon>
    </span>

    <!--Feedback im Hörsaal-->
    <h2
      *ngIf="router.url.includes('home') && isMobile && !isSafari"
      fxLayoutAlign="center center">
      {{ "header.home-header-mobile" | translate }}
    </h2>

    <h2
      *ngIf="router.url.includes('home') && isMobile && isSafari"
      fxLayoutAlign="center center">
      {{ "header.home-header-mobile" | translate }}
    </h2>

    <h2
      *ngIf="router.url.includes('home') && !isMobile && !isSafari"
      fxLayoutAlign="center center">
      {{ "header.home-header" | translate }}
    </h2>

    <h2
      *ngIf="router.url.includes('home') && !isMobile && isSafari"
      fxLayoutAlign="center center">
      {{ "header.home-header" | translate }}
    </h2>

    <span *ngIf="room && room.questionsBlocked">
      <mat-icon [matTooltip]="'header.questions-blocked' | translate">
        comments_disabled
      </mat-icon>
    </span>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.question-focus-button' | translate"
      *ngIf="
        !isMobile &&
        !router.url.endsWith('moderator/comments') &&
        router.url.endsWith('/comments') &&
        !isSafari &&
        room?.mode === 'ARS'
      "
      routerLink="{{ roleToRoute[userRole] }}/room/{{
        room?.shortId
      }}/comments/questionwall">
      <mat-icon svgIcon="beamer"></mat-icon>
      <span *ngIf="!showSmallButtons">
        {{ "header.questionwall" | translate }}
      </span>
    </button>

    <button
      mat-flat-button
      tabindex="0"
      [matTooltip]="'header.question-focus-button' | translate"
      *ngIf="
        !isMobile &&
        !router.url.endsWith('moderator/comments') &&
        router.url.endsWith('/comments') &&
        !isSafari &&
        room?.mode === 'PLE'
      "
      routerLink="{{ roleToRoute[userRole] }}/room/{{
        room?.shortId
      }}/comments/questionwall">
      <mat-icon svgIcon="beamer"></mat-icon>
      <span *ngIf="!showSmallButtons">
        {{ "header.ple.questionwall" | translate }}
      </span>
    </button>

    <!--Topic Cloud-->
    <div
      *ngIf="router.url.endsWith('tagcloud')"
      ars-flex-box>
      <ars-col>
        <button
          mat-icon-button
          disableRipple="true"
          *ngIf="isAdminConfigEnabled"
          matTooltip="{{ 'header.overview-admin-config-enabled' | translate }}">
          <mat-icon>tag</mat-icon>
        </button>
        <button
          *ngIf="room?.mode === 'ARS'"
          mat-icon-button
          disableRipple="true"
          matTooltip="{{ 'header.overview-question-tooltip' | translate }}">
          <mat-icon>comment</mat-icon>
          <span>{{ commentsCountQuestions }}</span>
        </button>
        <button
          *ngIf="room?.mode === 'PLE'"
          mat-icon-button
          disableRipple="true"
          class="pseudo-button"
          matTooltip="{{ 'header.ple.overview-question-tooltip' | translate }}">
          <mat-icon class="oldtypo-h2 comment_tag-icon">comment</mat-icon>
          <span style="margin-left: 0.2em">{{ commentsCountQuestions }}</span>
        </button>
        <button
          *ngIf="room?.mode === 'ARS'"
          mat-icon-button
          disableRipple="true"
          matTooltip="{{ 'header.overview-questioners-tooltip' | translate }}">
          <mat-icon>person</mat-icon>
          <span>{{ commentsCountUsers }}</span>
        </button>
        <button
          *ngIf="room?.mode === 'PLE'"
          mat-icon-button
          disableRipple="true"
          class="pseudo-button"
          matTooltip="{{
            'header.ple.overview-questioners-tooltip' | translate
          }}">
          <mat-icon class="oldtypo-h2 comment_tag-icon">person</mat-icon>
          <span style="margin-left: 0.1em">{{ commentsCountUsers }}</span>
        </button>
        <button
          mat-icon-button
          disableRipple="true"
          matTooltip="{{ 'header.overview-keywords-tooltip' | translate }}">
          <mat-icon>tag</mat-icon>
          <span>{{ commentsCountKeywords }}</span>
        </button>
      </ars-col>
    </div>

    <!--Brainstorming-->
    <div *ngIf="router.url.includes('brainstorming')">
      <button
        mat-flat-button
        [matTooltip]="'header.overview-brainstormers-tooltip' | translate">
        <mat-icon>person</mat-icon>
        {{ commentsCountUsers }}
      </button>
      <button
        mat-flat-button
        [matTooltip]="'header.overview-ideas-tooltip' | translate">
        <mat-icon>tag</mat-icon>
        {{ commentsCountKeywords }}
      </button>
    </div>
  </div>
  <div class="header-comp-side right">
    <mat-icon
      *ngIf="user?.isGuest"
      [matTooltip]="'header.guest-account-tooltip' | translate">
      priority_high
    </mat-icon>

    <mat-icon
      *ngIf="this.router.url.indexOf('/room/') > 0"
      [matTooltip]="'header.' + getCurrentRoleDescription() | translate">
      {{ getCurrentRoleIcon() }}
    </mat-icon>

    <button
      *ngIf="user"
      mat-flat-button
      [matMenuTriggerFor]="userMenu"
      [disabled]="!this.sessionService.isReady"
      [matTooltip]="'header.options-button' | translate">
      <mat-icon>more_vert</mat-icon>
      {{ customOptionText?.key || "header.my-account" | translate }}
    </button>

    <!-- TODO -->
    <!-- Login Button, only visible when user is not logged in -->
    <button
      *ngIf="!user"
      [disabled]="!startUpFinished()"
      mat-button
      [joyrideStep]="'loginButtonHeader'"
      [stepPosition]="'center'"
      appJoyrideTemplate
      (click)="login()"
      aria-labelledby="login-label"
      [matTooltip]="'header.sign-in-button' | translate">
      <mat-icon>login</mat-icon>
      <ng-container *ngIf="!isMobile && !showSmallButtons">
        {{ "header.login" | translate }}
      </ng-container>
    </button>
  </div>
</div>

<!--<mat-toolbar class="mat-elevation-z2">-->
<!--  <mat-toolbar-row-->
<!--    #toolbarRow-->
<!--    [ngClass]="{-->
<!--      'mat-toolbar-moderation': router.url.endsWith('/moderator/comments')-->
<!--    }" class="row">-->

<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<div class="visually-hidden">
  <div id="login-label">{{ "header.accessibility-login" | translate }}</div>
  <div id="back-label">{{ "header.accessibility-back" | translate }}</div>
  <div id="tour-label">{{ "header.accessibility-tour" | translate }}</div>
  <div id="session-label">{{ "header.accessibility-session" | translate }}</div>
</div>

<mat-menu #profileMenu="matMenu">
  <button
    mat-menu-item
    (click)="openPseudoEditor()"
    tabindex="0">
    <mat-icon>account_circle</mat-icon>
    {{ "header.room-presets" | translate }}
  </button>
  <button
    mat-menu-item
    (click)="openUserBonusTokenDialog()"
    tabindex="0">
    <mat-icon>grade</mat-icon>
    {{ "header.user-bonus-token" | translate }}
  </button>
  <button
    mat-menu-item
    (click)="openEmailNotification()"
    tabindex="0">
    <mat-icon>email</mat-icon>
    {{ "room-list.email-notification" | translate }}
  </button>
  <button
    mat-menu-item
    routerLink="/gpt-prompts">
    <mat-icon></mat-icon>
    {{ "header.gpt-prompts" | translate }}
  </button>
  <button
    mat-menu-item
    (click)="openPrivacyDialog()">
    <mat-icon></mat-icon>
    {{ "header.gpt-privacy-policy" | translate }}
  </button>
</mat-menu>

<mat-menu
  #themeMenu="matMenu"
  [overlapTrigger]="false"
  cdkTrapFocus>
  <button
    [disabled]="m3ThemeService.themeType === 'light'"
    mat-menu-item
    (click)="m3ThemeService.themeType = 'light'">
    <mat-icon>light_mode</mat-icon>
    Light
  </button>
  <button
    [disabled]="m3ThemeService.themeType === 'dark'"
    mat-menu-item
    (click)="m3ThemeService.themeType = 'dark'">
    <mat-icon>dark_mode</mat-icon>
    Dark
  </button>
</mat-menu>

<mat-menu
  #langMenu="matMenu"
  [overlapTrigger]="false">
  <button
    (click)="useLanguage('de')"
    mat-menu-item>
    {{ "footer.german" | translate }}
  </button>
  <button
    (click)="useLanguage('en')"
    mat-menu-item>
    {{ "footer.english" | translate }}
  </button>
  <button
    (click)="useLanguage('fr')"
    mat-menu-item>
    {{ "footer.french" | translate }}
  </button>
</mat-menu>

<mat-menu
  #userMenu="matMenu"
  [overlapTrigger]="false">
  <div>
    <ng-container arsComposeHost></ng-container>
  </div>

  <!-- General Options -->

  <button
    mat-menu-item
    *ngIf="isInRouteWithRoles && actualRole > 0 && room?.mode === 'ARS'"
    (click)="navigateToOtherView()"
    tabindex="0">
    <mat-icon *ngIf="actualRole === 3 && userRole !== actualRole">
      co_present
    </mat-icon>
    <mat-icon *ngIf="actualRole === 2 && userRole !== actualRole">
      support_agent
    </mat-icon>
    <mat-icon *ngIf="userRole === actualRole">groups_3</mat-icon>
    <span *ngIf="userRole === actualRole">
      {{ "header.regular-user-view" | translate }}
    </span>
    <span *ngIf="userRole !== actualRole">
      {{ "header.own-view" | translate }}
    </span>
  </button>

  <button
    mat-menu-item
    *ngIf="isInRouteWithRoles"
    [matMenuTriggerFor]="profileMenu"
    (click)="$event.stopImmediatePropagation()">
    <mat-icon>badge</mat-icon>
    <span>{{ "header.my-profile" | translate }}</span>
  </button>

  <button
    mat-menu-item
    *ngIf="
      userRole === 0 && !router.url.endsWith('/quiz') && !isInRouteWithRoles
    "
    (click)="openUserBonusTokenDialog()"
    tabindex="0">
    <mat-icon>grade</mat-icon>
    <span>{{ "header.user-bonus-token" | translate }}</span>
  </button>

  <button
    mat-menu-item
    *ngIf="user && router.url.endsWith('/quiz')"
    tabindex="0"
    (click)="navigateQuestionBoard()">
    <mat-icon>forum</mat-icon>
    <span>{{ "header.back-to-questionboard" | translate }}</span>
  </button>

  <button
    mat-menu-item
    [matMenuTriggerFor]="themeMenu"
    (menuOpened)="openMenu()"
    (click)="$event.stopImmediatePropagation()">
    <mat-icon>format_color_fill</mat-icon>
    <span>{{ "footer.style" | translate }}</span>
  </button>

  <button
    mat-menu-item
    [matMenuTriggerFor]="langMenu"
    (menuOpened)="openLanguageMenu()"
    (click)="$event.stopImmediatePropagation()">
    <mat-icon>language</mat-icon>
    <span>{{ "footer.language" | translate }}</span>
  </button>

  <button
    mat-menu-item
    aria-hidden="true"
    *ngIf="
      !isSafari && !router.url.includes('home') && !router.url.endsWith('/quiz')
    "
    (click)="getRescale().toggleState()">
    <mat-icon (click)="getRescale().toggleState()">screenshot_monitor</mat-icon>
    <span>{{ "header.fullscreen" | translate }}</span>
  </button>

  <button
    mat-menu-item
    *ngIf="
      user &&
      !user.isGuest &&
      user.loginId &&
      isSuperAdmin &&
      router.url.endsWith('/user')
    "
    (click)="routeAdmin()"
    tabindex="0">
    <mat-icon>key</mat-icon>
    <span>{{ "header.open-admin" | translate }}</span>
  </button>

  <button
    mat-menu-item
    *ngIf="user"
    (click)="logout()"
    tabindex="0">
    <mat-icon>logout</mat-icon>
    <span>{{ "header.logout" | translate }}</span>
  </button>

  <button
    mat-menu-item
    *ngIf="
      user && !user.isGuest && user.loginId && router.url.endsWith('/user')
    "
    (click)="routeAccountManagement()"
    tabindex="0">
    <mat-icon>manage_accounts</mat-icon>
    <span>{{ "header.account-management" | translate }}</span>
  </button>
</mat-menu>
