@use "style/layout/component-sizes" as comp-size;
@use "modules/m3/style/m3-layout" as layout;

:host {
  display: flex;
  flex-direction: column;
}

.header-comp {
  display: flex;
  align-items: center;
  height: var(--mat-toolbar-standard-height);
  padding: 0 16px;
  @include layout.to-expanded {
    height: var(--mat-toolbar-mobile-height);
  }
}

.header-comp-page {
  width: comp-size.$page-size;
  max-width: 100%;
  flex-shrink: 0;
}

.header-comp-side {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  max-width: calc((100% - #{comp-size.$page-size}) / 2);
}

.header-comp-side.right {
  justify-content: flex-end;
}
