@use "sass:math";
@import "../livepoll-common";

.result-container {
  display: flex;
  flex-direction: row;
  $height: 32px;
  $border-radius: 4;
  line-height: 120%;

  .reverse {
    &-true {
      flex-direction: column-reverse;
    }

    &-false {
      flex-direction: column;
    }
  }

  .left {
    display: flex;
    max-width: 50%;

    .container {
      height: $height;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media only screen and (max-width: 900px) {
        font-size: 100%;
        line-height: 16px;
      }
      @media only screen and (max-width: 700px) {
        font-size: 80%;
        line-height: 16px;
      }
      @media only screen and (max-width: 400px) {
        font-size: 70%;
        line-height: 16px;
      }
    }
  }

  .right {
    display: flex;
    flex-grow: 1;
    margin-left: 16px;

    > .container {
      height: $height;
      padding: 10px 0;

      > .background {
        display: flex;
        height: $height;
        flex-direction: row;
        justify-content: flex-start;
        box-sizing: border-box;

        > .bar {
          min-width: 1px;
          width: 10px;
          background-color: var(--md-sys-color-primary);
          border-radius: 2px;
          transition: width 100ms ease-in-out;
          overflow: hidden;

          > div {
            position: relative;

            > span {
              position: absolute;
              font-weight: bold;
              top: 8px;
              border-radius: 2px;
              left: 13px;
              color: var(--md-sys-color-on-primary);
              z-index: 100;
            }
          }
        }
      }

      > .foreground {
        height: $height;
        display: flex;
        justify-content: flex-start;
        position: relative;
        border-radius: 2px;
        top: -$height;

        span {
          position: absolute;
          font-weight: bold;
          color: var(--md-sys-color-on-surface);
          top: 8px;
          border-radius: 2px;
          left: 13px;
        }
      }
    }
  }
}
