<h2 mat-dialog-title>
  {{
    room?.mode === "ARS"
      ? ("topic-cloud-filter.questions-title" | translate)
      : ("topic-cloud-filter.ple.questions-title" | translate)
  }}
</h2>

<mat-dialog-content>
  @if (isTopicRequirementActive) {
    <span style="margin-bottom: 1em; display: block">
      <mat-icon
        [inline]="true"
        class="error-icon">
        tag
      </mat-icon>
      {{ "header.overview-admin-config-enabled" | translate }}
    </span>
  }

  <mat-radio-group
    class="spaced-radio-buttons"
    [(ngModel)]="continueFilter"
    aria-label="Select an option">
    <ng-container *ngFor="let radioTyp of filterTypes(); let i = index">
      <mat-radio-button
        *ngIf="filterInfos[radioTyp].active"
        [value]="radioTyp">
        <div>
          {{
            "topic-cloud-filter." +
              (room?.mode === "ARS" ? ".ple" : "") +
              radioTyp +
              (isMobile ? "-short" : "") | translate
          }}
          <div
            class="radio-button-counts"
            *ngIf="filterInfos[radioTyp].count">
            <mat-icon
              [inline]="true"
              matTooltip="{{
                'header.' +
                  (room?.mode === 'PLE' ? 'ple.' : '') +
                  'overview-question-tooltip' | translate
              }}">
              comment
            </mat-icon>
            {{ filterInfos[radioTyp].count.comments }}
            <mat-icon
              [inline]="true"
              matTooltip="{{
                'header.' +
                  (room?.mode === 'PLE' ? 'ple.' : '') +
                  'overview-questioners-tooltip' | translate
              }}">
              person
            </mat-icon>
            {{ filterInfos[radioTyp].count.users }}
            <mat-icon
              matTooltip="{{ 'header.overview-keywords-tooltip' | translate }}">
              tag
            </mat-icon>
            {{ filterInfos[radioTyp].count.keywords }}
          </div>
        </div>
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>

  @if (hasNoKeywords) {
    <mat-card appearance="outlined">
      <mat-card-content>
        {{ "topic-cloud-filter.info-no-keywords" | translate }}
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-stroked-button
          type="button"
          class="secondary-button"
          (click)="onKeywordRefreshClick()">
          {{ "topic-cloud-filter.label-refresh-keywords-start" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  }

  <app-worker-dialog [inlined]="true"></app-worker-dialog>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="secondary-button"
    (click)="openHelp()">
    <mat-icon>question_mark</mat-icon>
    {{ "explanation.label" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close="abort">
    {{ "topic-cloud-filter.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="primary-button"
    (click)="confirm()">
    <mat-icon>radar</mat-icon>
    {{ "topic-cloud-filter.create" | translate }}
  </button>
</mat-dialog-actions>
