@import "../../../../../layout/layout-util";

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  mat-radio-button {
    width: 100%;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  .mat-radio-label {
    width: calc(100% - 16px) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  .mat-radio-label-content {
    width: 100%;
    margin: 15px 0;
  }
}

.action-button-container {
  @include onSmallWidth {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}
