.mock-content {
  height: 1000px;
  background-color: var(--md-sys-color-surface3);
  border-radius: var(--md-sys-shape-corner-large);
  display: flex;
  flex-direction: column;
}

.mock-card {
  height: 128px;
  background-color: var(--md-sys-color-surface3);
  border-radius: var(--md-sys-shape-corner-large);
  & + * {
    margin-top: 16px;
  }
}
