<m3-body-pane>
  <m3-supporting-pane
    [type]="'flexible'"
    [priority]="'primary'">
    <div class="mock-content">
      <h1 class="display-small">Home</h1>
    </div>
  </m3-supporting-pane>
  <m3-supporting-pane
    [type]="'flexible'"
    [priority]="'tertiary'"></m3-supporting-pane>
  <m3-supporting-pane
    [type]="'fixed'"
    [priority]="'secondary'">
    <div
      class="mock-card"
      *ngFor="let _ of [].constructor(10)"></div>
  </m3-supporting-pane>
</m3-body-pane>
