<div class="question-wall-display-comment-header"></div>
<div class="question-wall-display-comment-content"></div>
<div class="question-wall-display-comment-footer">
  <app-question-wall-comment-options
    [data]="data"></app-question-wall-comment-options>
</div>
