<h2 mat-dialog-title>{{ "status-info.title" | translate }}</h2>

<mat-dialog-content>
  <!-- TODO: <div
    [data]="'status-info.message' | translate: status"
    markdown
    emoji
    katex></div> -->
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="primary-button"
    mat-dialog-close>
    {{ "status-info.close" | translate }}
  </button>
</mat-dialog-actions>
