<ars-screen ars-flex-box>
  <mat-form-field
    id="idea-select"
    *ngIf="
      brainstormingActive &&
      brainstormingData?.ideasFrozen &&
      brainstormingData?.active
    ">
    <mat-label>
      {{ "tag-cloud.brainstorming-idea-filter" | translate }}
    </mat-label>
    <mat-select (selectionChange)="setIdeaFiltering($event.value)">
      <mat-option [value]="null">
        <em>{{ "tag-cloud.brainstorming-idea-all" | translate }}</em>
      </mat-option>
      <mat-option [value]="''">
        <em>
          {{ "tag-cloud.brainstorming-idea-without-category" | translate }}
        </em>
      </mat-option>
      <mat-option
        *ngFor="let category of brainstormingCategories"
        [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-minute-jump-clock
    *ngIf="brainstormingActive && brainstormingData?.ideasEndTimestamp"
    [minWidth]="880"
    [offsetTop]="140"
    [withBackground]="true"
    [arcEnd]="brainstormingData.ideasEndTimestamp"
    [arcDuration]="brainstormingData.ideasTimeDuration || 0"
    [zIndex]="3"
    [ignoreTooLessSpace]="false"
    [fixedSize]="200"></app-minute-jump-clock>
  <mat-drawer-container
    class="spacyTagCloudContainer"
    [hasBackdrop]="true">
    <mat-drawer
      position="end"
      mode="over"
      (closed)="cloudComponent.closePanel()"
      (opened)="cloudComponent.openPanel()">
      <app-cloud-configuration
        #cloudComponent
        [parent]="this"></app-cloud-configuration>
    </mat-drawer>
    <mat-drawer-content>
      <h1
        *ngIf="brainstormingActive && brainstormingData?.title"
        class="tag-cloud-brainstorming-question mat-headline-4 active">
        {{ brainstormingData?.title }}
      </h1>
      <ars-fill ars-flex-box>
        <app-tag-cloud-pop-up
          [room]="room"
          [requester]="request()"></app-tag-cloud-pop-up>
        <app-mat-spinner-overlay
          *ngIf="isLoading"
          [overlay]="true"></app-mat-spinner-overlay>
        <app-word-cloud
          [keywords]="data"
          [isRadar]="!brainstormingActive"
          [parameters]="currentCloudParameters"
          style="flex-grow: 1"
          (requested)="openTags($event, true)"
          (clicked)="openTags($event)"
          (entered)="enter($event)"
          (left)="leave()"></app-word-cloud>
        <app-active-user
          *ngIf="room"
          [alwaysShowInHeader]="true"
          [room]="this.room"
          [top]="120"></app-active-user>
      </ars-fill>
      <button
        class="start_introduction"
        (click)="startIntroduction()"
        mat-fab
        matTooltip="{{ 'comment-list.start-introduction-video' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon>question_mark</mat-icon>
      </button>
      <button
        *ngIf="brainstormingActive && canWriteComment() && !drawer?.opened"
        mat-fab
        [ngClass]="{
          center_screen: isCloudEmpty()
        }"
        class="fab_add_comment"
        (click)="writeComment()"
        matTooltip="{{ 'comment-list.add-idea' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon>add</mat-icon>
        <p
          class="oldtypo-p"
          *ngIf="isCloudEmpty()">
          {{ "comment-list.ask-brainstorm-empty" | translate }}
        </p>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
</ars-screen>
