$header-size: 64px;
$footer-size: 50px;
$preferred-size: calc(100vh - $header-size - $footer-size);

$carousel-container-size: 450px;

.book-room-container {
  width: 500px;
  padding-bottom: 1em;

  @media (max-width: 1700px) {
    width: calc(100vw - 1600px + 500px);
    min-width: 300px;
  }
}

.yt-video-wrapper {
  width: 100%;

  > img {
    max-width: calc(100% - 1em);
    margin-inline: 0.5em;
    cursor: pointer;
  }

  > app-view-comment-data {
    width: 100%;
    display: inline-block;
  }
}

.content {
  width: 100%;
}

.content-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: $header-size 32px $footer-size;

  .book-room-container {
    max-width: calc(100vw - $carousel-container-size - 64px - 16px);
    flex-shrink: 1;
    align-items: center;
  }

  &.mobile {
    padding: $header-size 4px $footer-size;

    > .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .book-room-container {
      max-width: 100%;
      flex-shrink: 1;
      margin-left: 16px;
    }
  }

  &.scroll-bound {
    padding: 0;

    > .content {
      max-height: calc($preferred-size + 22px);
      overflow: auto;

      > .book-room-container {
        position: relative;
        top: 128px;
      }
    }
  }

  &.desktop {
    > .content {
      display: unset;
      justify-content: unset;
    }
  }

  .carousel-entry {
    span {
      transition: color 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    &.highlight {
      span {
        color: var(--md-sys-color-on-background);
      }

      //
      background-color: var(--md-sys-color-surface);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    }

    &.peek {
      span {
        color: color-mix(
          in srgb,
          var(--md-sys-color-on-background) 67%,
          transparent
        );
        cursor: pointer;
      }

      background-color: var(--md-sys-color-surface);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    }

    &.hidden {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    }
  }
}

.foreground-container {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

//.main-heading-primary {
//  display: flex;
//  justify-content: center;
//  font-size: 30px;
//  font-weight: normal;
//  //  color: var(--primary);
//  padding: 0;
//  margin: 0;
//  line-height: 30px;
//}
//
//.main-heading-secondary {
//  display: block;
//  font-size: 3.5em;
//  font-weight: bold;
//  //  color: var(--secondary);
//  line-height: 50px;
//  letter-spacing: 2pt;
//}

.background-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;

  > .background-image {
    width: 100vw;
    height: 100vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transition:
      transform 1500ms cubic-bezier(0.77, 0, 0.175, 1),
      opacity 1500ms cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
    fill: transparent;
    transform: translateY(100px);

    &.before {
      filter: blur(256px);
    }
  }
}

.carousel-container-ghost {
  width: $carousel-container-size;
  position: relative;

  @media (max-width: 860px) {
    width: auto;
  }
}

//.carousel-entry-title {
//  font-size: 42px;
//
//  @media (max-width: 900px) {
//    font-size: 24px;
//  }
//}

.carousel-anchor {
  width: 100%;
  position: absolute;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.carousel-transform {
  width: 450px;
  position: fixed;
  top: 50%;
}

.carousel-scroll {
  position: relative;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  margin-left: 20px;
}

.carousel-entry {
  display: flex;
  flex-direction: column;
  transition:
    all 500ms cubic-bezier(0.77, 0, 0.175, 1),
    width unset;
  user-select: none;
  border-radius: var(--md-sys-shape-corner-large);

  @media (max-width: 860px) {
    width: 100%;
    max-width: calc(100vw - 410px);
  }

  > .carousel-content {
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    padding: 32px;
    box-sizing: border-box;

    .carousel-text {
      line-height: 24px;
      hyphens: auto;
    }

    :first-child {
      margin-bottom: 8px;
    }
  }

  .carousel-pointer {
    width: 100%;
    height: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;

    > .pointer {
      position: relative;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;

      > .point {
        width: 64px;
        height: 4px;
        background-color: var(--md-sys-color-secondary);
        margin: 4px;
        border-radius: var(--md-sys-shape-corner-large);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      }

      &.top {
        top: 0%;
        transform: translateY(0%);
        opacity: 1;
        padding-bottom: 32px;
        padding-top: 8px;
      }

      &.bottom {
        top: 100%;
        transform: translateY(-100%);
        opacity: 1;
        padding-top: 32px;
        padding-bottom: 8px;
      }

      &.center {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;

        > .point {
          width: 4px;
          height: 0;
          margin: 0;
          opacity: 0;
        }
      }

      &.hide {
        opacity: 0;
      }
    }
  }

  &.highlight {
    backdrop-filter: blur(16px) saturate(1.1);

    > .carousel-content {
      transform: scale(1);
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      transform-origin: 50% 50%;
      border-radius: var(--md-sys-shape-corner-large);
    }
  }

  &.peek {
    backdrop-filter: blur(16px) saturate(1.1);

    > .carousel-content {
      transform: scale(1);
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      transform-origin: 50% 50%;
      border-radius: var(--md-sys-shape-corner-large);
    }
  }

  &.hidden {
    transition: all 0ms cubic-bezier(0.77, 0, 0.175, 1);

    > .carousel-content {
      transform: scale(0);
    }
  }

  & + * {
    margin-top: 24px;
  }
}
