<div data-nosnippet>
  <p tabindex="0">
    Our Q&A platform is anonymous, data protection compliant, and free.
  </p>

  <p tabindex="0">
    Without registration, your rooms are tied to your browser and will be deleted with your browser history.
  </p>

  <p tabindex="0">
    By clicking »Accept«, you're agreeing to our privacy policy, viewable via the icon above.
  </p>
</div>
