@use "@angular/material" as mat;

$arsnova-primary: mat.define-palette(mat.$grey-palette, 100);
$arsnova-accent: mat.define-palette(mat.$orange-palette, 200);

$arsnova-warn: mat.define-palette(mat.$red-palette, A100);

$arsnova-theme: mat.define-light-theme(
  (
    color: (
      primary: $arsnova-primary,
      accent: $arsnova-accent,
      warn: $arsnova-warn,
    ),
    density: 0,
  )
);

$arsnova-theme-map: (
  "--primary": "darkblue",
  "--primary-variant": "blanchedalmond",

  "--secondary": "#018000",
  "--secondary-variant": "#018000",

  "--background": "papayawhip",
  "--surface": "bisque",
  "--dialog": "cornsilk",
  "--cancel": "red",
  "--alt-surface": "#eeeeee",
  "--alt-dialog": "aliceblue",

  "--on-primary": "white",
  "--on-secondary": "white",
  "--on-primary-variant": "#000000",
  "--on-background": "#000000",
  "--on-surface": "#000000",
  "--on-dialog": "#000000",
  "--on-cancel": "white",

  "--green": "green",
  "--red": "red",
  "--white": "#ffffff",
  "--yellow": "darkorange",
  "--blue": "#002878",
  "--purple": "purple",
  "--magenta": "#ea0a8e",
  "--light-green": "lightgreen",
  "--grey": "slategrey",
  "--grey-light": "darkgray",
  "--black": "#000000",
  "--moderator": "lightpink",

  "--questionwall-intro-primary": "darkorange",
  "--questionwall-intro-secondary": "white",
  "--questionwall-intro-background": "#121212",

  "--livepoll-primary": "#8a2be2",
  "--livepoll-primary--disabled": "#282934",
  "--livepoll-primary--hover": "#993cf5",
  "--on-livepoll-primary": "#ffffff",
  "--on-livepoll-primary--disabled": "#c5c5c5",
  "--on-livepoll-primary--hover": "#ffffff",

  "--livepoll-secondary": "#ff8e00",
  "--livepoll-secondary--disabled": "#5f5f64",
  "--livepoll-secondary--hover": "#faa24f",
  "--on-livepoll-secondary": "#ffffff",
  "--on-livepoll-secondary--disabled": "#c5c5c5",
  "--on-livepoll-secondary--hover": "#ffffff",
);
