<div class="card-wrapper">
  <div *ngIf="!isLoading && !room">
    {{ "room-page.room-not-found" | translate }}
  </div>
  <mat-card
    appearance="outlined"
    *ngIf="room">
    <mat-card-header>
      <mat-card-title>
        <h2>
          {{ "room-page.session-id-lq-x" | translate }}{{ room.name
          }}{{ "room-page.session-id-rq" | translate }}
        </h2>
        <button
          mat-icon-button
          class="inline-icon-button"
          (click)="editSessionName()"
          aria-labelledby="edit_session_name">
          <mat-icon
            class="copy material-icons-outlined"
            [matTooltip]="'session.edit-session-name' | translate">
            edit
          </mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>
        <span class="room-short-id">
          {{ "room-page.session-id" | translate
          }}{{ "room-page.session-id-lq" | translate }}{{ room.shortId
          }}{{ "room-page.session-id-rq" | translate }}
        </span>
        <button
          mat-icon-button
          class="subtitle-btn"
          (click)="copyShortId()"
          aria-labelledby="cloud_download">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="{{ 'room-page.copy-session-id' | translate }}">
            share
          </mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span class="room-short-id">
          {{ "room-page.moderator-key" | translate }}
        </span>
        <button
          mat-icon-button
          class="subtitle-btn"
          [matTooltip]="'moderators-dialog.tooltip-moderators' | translate"
          (click)="showModeratorsDialog()">
          <mat-icon class="material-icons-outlined key-icon">key</mat-icon>
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="room.description">
      <!-- <app-view-comment-data
        class="images"
        [currentData]="room.description"></app-view-comment-data> -->
    </mat-card-content>
    <mat-card-footer>
      <button
        id="question_answer-button"
        mat-icon-button
        [disableRipple]="true"
        routerLink="/moderator/room/{{ room.shortId }}/comments"
        aria-labelledby="question_answer">
        <mat-icon
          matBadge="{{ commentCounter > 0 ? 'Q' + commentCounter : null }}"
          class="main-icon material-icons-outlined"
          [ngClass]="{ smallerIcon: isMobile() }"
          matBadgePosition="before"
          matTooltip="{{ 'room-page.session-question-board' | translate }}">
          {{ room.conversationDepth === 0 ? "chat" : "forum" }}
        </mat-icon>
        <span
          matBadge="{{ 'A' + responseCounter }}"
          matBadgePosition="before"
          *ngIf="responseCounter > 0 && commentCounter > 0"
          [ngClass]="{ smallerIcon: isMobile() }"
          class="response-badge"></span>
        <h3 *ngIf="room.conversationDepth === 0">
          {{ "room-page.comments" | translate }}
        </h3>
        <h3 *ngIf="room.conversationDepth !== 0">
          {{ "room-page.comments-and-answers" | translate }}
        </h3>
      </button>
      <button
        id="gavel-button"
        mat-icon-button
        *ngIf="moderationEnabled"
        [disableRipple]="true"
        routerLink="/moderator/room/{{ room.shortId }}/moderator/comments"
        aria-labelledby="gavel">
        <mat-icon
          matBadge="{{
            moderatorCommentCounter > 0 ? 'Q' + moderatorCommentCounter : null
          }}"
          matBadgePosition="before"
          class="main-icon material-icons-round gavel-icon"
          [ngClass]="{ smallerIcon: isMobile() }"
          matTooltip="{{ 'room-page.session-moderation-board' | translate }}">
          gavel
        </mat-icon>
        <span
          matBadge="{{ 'A' + moderatorResponseCounter }}"
          matBadgePosition="before"
          *ngIf="moderatorResponseCounter > 0 && moderatorCommentCounter > 0"
          [ngClass]="{ smallerIcon: isMobile() }"
          class="response-badge"></span>
        <h3>{{ "room-page.moderating-stream" | translate }}</h3>
      </button>
    </mat-card-footer>

    <div class="spending-container">
      <div class="spending">
        <span>{{ "room-page.quota-for-room" | translate }}</span>
        <div class="layout">
          <div class="information">
            <div class="label">
              <span class="value">
                {{ roomQuota.spent | currency: "USD" : "symbol" : "1.0-0" }}
              </span>
            </div>
            {{ "room-page.quota-label-separator" | translate }}
            <div class="label">
              <span class="value">
                {{ roomQuota.limit | currency: "USD" : "symbol" : "1.0-0" }}
              </span>
            </div>
          </div>
          <div class="bar">
            <div
              class="spent"
              [style.width.%]="roomQuota.spentAsPercentage"></div>
          </div>
        </div>
      </div>

      <div
        class="spending"
        *ngIf="room?.mode === 'ARS'">
        <span>{{ "room-page.quota-for-moderators" | translate }}</span>
        <div class="layout">
          <div class="information">
            <div class="label">
              <span class="value">
                {{
                  moderatorQuota.spent | currency: "USD" : "symbol" : "1.0-0"
                }}
              </span>
            </div>
            {{ "room-page.quota-label-separator" | translate }}
            <div class="label">
              <span class="value">
                {{
                  moderatorQuota.limit | currency: "USD" : "symbol" : "1.0-0"
                }}
              </span>
            </div>
          </div>
          <div class="bar">
            <div
              class="spent"
              [style.width.%]="moderatorQuota.spentAsPercentage"></div>
          </div>
        </div>
      </div>

      <div
        class="spending"
        *ngIf="room?.mode === 'ARS'">
        <span>{{ "room-page.quota-for-participants" | translate }}</span>
        <div class="layout">
          <div class="information">
            <div class="label">
              <span class="value">
                {{
                  participantQuota.spent | currency: "USD" : "symbol" : "1.0-0"
                }}
              </span>
            </div>
            {{ "room-page.quota-label-separator" | translate }}
            <div class="label">
              <span class="value">
                {{
                  participantQuota.limit | currency: "USD" : "symbol" : "1.0-0"
                }}
              </span>
            </div>
          </div>
          <div class="bar">
            <div
              class="spent"
              [style.width.%]="participantQuota.spentAsPercentage"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<button
  id="live_announcer-button"
  tabIndex="-1"
  (click)="announce()"
  class="visually-hidden">
  {{ "room-page.live-announcer" | translate }}
</button>

<app-active-user
  *ngIf="room"
  [room]="room"></app-active-user>

<div class="visually-hidden">
  <div id="edit_session_name">
    {{ "room-page.a11y-room-name" | translate }}
  </div>
  <div id="cloud_download">
    {{ "room-page.a11y-cloud_download" | translate }}
  </div>
  <div id="question_answer">
    {{ "room-page.a11y-question_answer" | translate }}
  </div>
  <div id="gavel">
    {{ "room-page.a11y-gavel" | translate }}
  </div>
  <div id="settings">
    {{ "room-page.a11y-settings" | translate }}
  </div>
  <div id="edit">
    {{ "room-page.a11y-edit" | translate }}
  </div>
  <div id="insert_comment">
    {{ "room-page.a11y-insert_comment" | translate }}
  </div>
  <div id="person">
    {{ "room-page.a11y-person" | translate }}
  </div>
</div>
