<div
  class="sub-section-header"
  *ngIf="title">
  <h1 matCardTitle>{{ title }}</h1>
</div>
<div
  class="sub-section-header subTitle"
  *ngIf="subTitle">
  <span>{{ subTitle }}</span>
</div>
<div
  class="sub-section-content"
  [class.grid]="grid">
  <ng-content></ng-content>
</div>
