<div class="column content-center items-center gap-medium grow">
  <app-room-join></app-room-join>
  <button
    [joyrideStep]="'createRoom'"
    appJoyrideTemplate
    [stepPosition]="'top'"
    [disabled]="!sessionService.isReady"
    id="new_session-button"
    mat-stroked-button
    (click)="openCreateRoomDialog()"
    aria-labelledby="create-label">
    <mat-icon>add</mat-icon>
    {{ "home-page.create-session" | translate }}
  </button>

  <div class="visually-hidden">
    <div id="create-label">
      {{ "home-page.accessibility-create" | translate }}
    </div>
  </div>
</div>
