<!-- TODO(lph) UX, login visible on /home when logged out. -->
<!-- currently it's hidden under sign-in button -->

<span matDialogTitle>{{ "login-dialog.title" | translate }}</span>
<mat-dialog-content>
  <span *ngIf="redirectUrl">
    {{ "login-dialog.inactive-info" | translate }}
  </span>
</mat-dialog-content>
<mat-dialog-actions class="align-column-wide">
  <button
    mat-button
    (click)="guestLogin()"
    matTooltip="{{ 'login.guest-login-tooltip' | translate }}"
    aria-labelledby="guest-login-description">
    {{ "login-dialog.sign-in-as-guest" | translate }}
  </button>
  <button
    *ngFor="let provider of providers"
    [matTooltip]="
      provider['description' + access] ||
      provider['translated_description' + access]
    "
    (click)="providerLogin(provider.id)"
    mat-flat-button>
    {{ provider["name" + access] || provider["translated_name" + access] }}
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="login-description">{{ "login.login-description" | translate }}</div>
  <div id="guest-login-description">
    {{ "login.guest-login-description" | translate }}
  </div>
</div>
