.clock {
  position: fixed;
  transform: scale(0.75);

  &.background {
    border-radius: 100%;
    background: transparent;
  }

  /* Clock styles */
  .circle {
    stroke-width: 9px;
    stroke-miterlimit: 10;
    fill: transparent;
    stroke: transparent;
  }

  .duration {
    transform-origin: 300px 300px;
    transform: translate(300px, 300px);
    fill: none;
    stroke-width: 15px;

    .duration-arc-passed {
      stroke: var(--md-sys-color-highlight-yellow);
    }

    .duration-arc {
      stroke: var(--md-sys-color-highlight-green);
    }
  }

  .mid-circle {
    fill: var(--md-sys-color-on-surface);
    stroke: var(--md-sys-color-on-surface);
  }

  .hour-marks {
    stroke-width: 9px;
    stroke-miterlimit: 10;
    stroke: var(--md-sys-color-on-surface);
  }

  .hour-arm {
    stroke-width: 17px;
    stroke-miterlimit: 10;
    stroke: var(--md-sys-color-on-surface);
  }

  .minute-arm {
    stroke-width: 11px;
    stroke-miterlimit: 10;
    stroke: var(--md-sys-color-on-surface);
  }

  .second-arm {
    stroke-width: 4px;
    stroke-miterlimit: 10;
    stroke: var(--md-sys-color-highlight-red);
  }

  /* Transparent box ensuring arms center properly. */
  .sizing-box {
    fill: none;
  }

  /* Make all arms rotate around the same center point. */
  /* Optional: Use transition for animation. */
  .hour,
  .minute,
  .second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
  }
}
