$_m3-elevation: (
  light: (),
  dark: (),
);

@mixin all-elevation-token($theme-type) {
  @if $theme-type == dark {
  } @else if $theme-type == light {
  } @else {
    @error "theme-type mismatch. allowed theme types: light, dark";
  }
  --md-sys-elevation-surface-tint-color: var(--md-sys-color-primary);
}
