<div data-nosnippet>

  <p>
    Le développement de «&nbsp;frag.jetzt&nbsp;» a été réalisé dans le cadre du projet de coopération universitaire
    <a href="https://www.hessenhub.de/projekt/"
       class="info"
       target="_blank" rel="noopener">«&nbsp;L'enseignement et l'apprentissage assistés par le numérique en Hesse&nbsp;»<span>Ouverture d'une nouvelle fenêtre</span></a>
    par le Land de Hesse.
  </p>

  <a href="https://www.hessenhub.de/projekt/"
     class="info"
     target="_blank" rel="noopener">
    <img src="/assets/images/HMWK.webp"
         loading="lazy"
         alt="Logo HMWK"
         width="150"
         height="64">
    <span>Ouvre une nouvelle fenêtre</span>.
  </a>

  <h2>
    Explication sur l'accessibilité
  </h2>

  <p>
    «&nbsp;frag.jetzt&nbsp;» s'engage pour l'accessibilité numérique des personnes handicapées.
    Nous améliorons continuellement la convivialité pour tous et appliquons les normes d'accessibilité pertinentes.
    Nous nous adressons en particulier aux utilisateurs malvoyants et aveugles de «&nbsp;frag.jetzt&nbsp;».
  </p>

  <h2>
    État de conformité
  </h2>

  <p>
    Les directives pour l'accessibilité aux contenus web
    (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
        class="info">WCAG<span>Ouverture d'une nouvelle fenêtre</span></a>)
    définissent des exigences pour les concepteurs
    et les développeurs afin d'améliorer l'accessibilité pour les personnes handicapées.

    On distingue trois niveaux de conformité&nbsp;: le niveau A, le niveau AA et le niveau AAA. «&nbsp;frag.jetzt&nbsp;»
    est partiellement conforme à
    WCAG 2.1 niveau AA. La conformité partielle signifie que certaines parties du contenu ne sont pas entièrement
    conformes à la norme d'accessibilité.
  </p>

  <h2>Réactions</h2>

  <p>
    Nous sommes heureux de recevoir ton feedback sur l'accessibilité de «&nbsp;frag.jetzt&nbsp;».
    N'hésite pas à nous faire savoir si tu rencontres des obstacles&nbsp;:
  </p>

  <p>
    <a class="info"
       href="tel:+496413092450">+49 641 309-2450 <span>Appelle le numéro</span></a>
    <br>
    <a class="email u-email info"
       href="mailto:klaus.quibeldey-cirkel@transmit.de">
      klaus.quibeldey-cirkel&#64;transmit.de <span>Ouvre le programme de mail</span>
    </a>
  </p>

  <h2>Opérateur de «&nbsp;frag.jetzt&nbsp;»</h2>

  <p>
    L'exploitation de l'application web
    <a href="https://github.com/thm-projects/frag.jetzt"
       target="_blank"
       class="info" rel="noopener">open source<span>Ouverture d'une nouvelle fenêtre</span></a>
    «&nbsp;frag.jetzt&nbsp;» est un service gratuit («&nbsp;Software as a Service&nbsp;»)
    de la société TransMIT-Gesellschaft für Technologietransfer mbH, spécialisée dans le domaine des applications
    mobiles.
    <br><br>
    Kerkrader Straße 3<br>
    D-35394 Gießen<br>
    <br>
    c/o THM<br>
    Département de mathématiques, de sciences naturelles et d'informatique<br>
    Prof. Dr. Klaus Quibeldey-Cirkel<br>
    Chaire Techniques du logiciel<br>
    <br>
    Wiesenstraße 14<br>
    D-35390 Gießen<br>
    <br>
    <a href="tel:+496413092450"
       class="info">+49 641 309-2450 <span>Appeler le numéro</span></a>
    <br>
    <a href="mailto:klaus.quibeldey-cirkel@transmit.de"
       class="info">klaus.quibeldey-cirkel&#64;transmit.de<span>Ouvre le programme de mail</span></a>
    <br>
    <br>
    Siège de la société&nbsp;: Giessen<br>
    Site web&nbsp;:
    <a href="https://transmit.de"
       class="info">transmit.de<span>Ouvre une nouvelle fenêtre</span></a>
    <br>
    Forme juridique&nbsp;: SARL<br>
    Tribunal d'instance&nbsp;: Gießen HRB 3036<br>
    Numéro de TVA&nbsp;: DE 188 685 037<br>
    <br>
    «&nbsp;frag.jetzt&nbsp;» est hébergé sur un
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt"
       class="info">serveur en Allemagne<span>Ouverture d'une nouvelle fenêtre</span></a>.
    <br>
    <br>
  </p>
</div>
