.star-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  width: max-content;
  margin-inline: auto;
}

mat-icon.interactive {
  display: inline-block;
  color: var(--custom-stars);
  opacity: 0.7;
  width: 1em;
  height: 1em;
  font-size: 2.5em;
  cursor: pointer;
  transition:
    transform 250ms ease,
    opacity 250ms ease;

  &.star_full {
    opacity: unset;
  }

  &.star_half {
    opacity: 0.85;
  }

  &:hover {
    transform: scale(1.666666667);
  }

  &.bounce {
    animation: starBounce 300ms ease-in-out;
  }
}

@keyframes starBounce {
  33% {
    transform: scale(2);
  }
  66% {
    transform: scale(1.33333333);
  }
}
