<div
  class="m3-nav-drawer-shadow"
  *ngIf="!template?.rail.hide"
  [ngClass]="extended ? 'drawer' : 'rail'">
  <div
    [ngClass]="
      extended
        ? 'm3-nav-drawer-expansion m3-navigation-drawer-labels'
        : 'm3-nav-drawer-rail m3-navigation-rail-labels'
    ">
    <div class="m3-nav-drawer-header">
      <span
        class="m3-nav-drawer-menu-button material-symbols-outlined"
        role="button"
        (click)="extended = !extended">
        {{ extended ? "close" : "menu" }}
      </span>
      <span
        class="m3-nav-drawer-title"
        *ngIf="template.rail.title">
        {{ template.rail.title }}
      </span>
    </div>
    <div
      [ngStyle]="{
        width: extended ? 'auto' : '100%'
      }"
      [m3LabelTemplateList]="template.rail.labels"
      [labelClass]="this.labelState"></div>
    <div #extendedActionsContainer>
      <ng-container *ngTemplateOutlet="extendedActions"></ng-container>
    </div>
  </div>
</div>
<div
  class="m3-nav-drawer-content"
  #content>
  <div class="m3-nav-top-bar">
    <div class="m3-nav-top-bar-content">
      <div
        class="left"
        *ngIf="template.header.left"
        [m3WindowClass]="template.header.left.window"
        [m3ButtonTemplateList]="template.header.left.buttons"></div>
      <div class="spacing">
        <ng-container *ngIf="template.header.component">
          <ng-container
            *ngComponentOutlet="template.header.component"></ng-container>
        </ng-container>
        <ng-container *ngIf="template.header.templateRef">
          <ng-container
            *ngTemplateOutlet="template.header.templateRef"></ng-container>
        </ng-container>
      </div>
      <div
        class="right"
        *ngIf="template.header.right"
        [m3WindowClass]="template.header.right.window"
        [m3ButtonTemplateList]="template.header.right.buttons"></div>
    </div>
  </div>
  <div class="m3-nav-drawer-content-outlet">
    <ng-content></ng-content>
  </div>
  <div class="m3-nav-bottom-bar-shadow"></div>
  <div class="m3-nav-bottom-bar">
    <div
      class="m3-nav-bar-button-container m3-navigation-bar-labels"
      [m3LabelTemplateList]="template.rail.labels"></div>
  </div>
</div>

<ng-template #extendedActions>
  <ng-container *ngIf="template">
    <ng-container *ngFor="let section of template.railExtension.sections">
      <div
        class="m3-nav-section"
        [ngClass]="extended ? 'open' : 'closed'">
        <span
          class="m3-nav-section-title label-medium"
          *ngIf="section.title">
          {{ section.title }}
        </span>
        <div [m3LabelTemplateList]="section.labels"></div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
