@use "../../../style/m3-layout" as m3-layout;

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
}

:host-context(.m3-elevation-z0) {
  .m3-nav-bottom-bar {
    background-color: var(--md-sys-color-background);
  }

  .m3-nav-top-bar {
    background-color: var(--md-sys-color-background);
  }

  .m3-nav-drawer-rail {
    background-color: var(--md-sys-color-background);
  }

  .m3-nav-drawer-expansion {
    @include m3-layout.explicit-range(compact, large) {
      background-color: var(--md-sys-color-surface3);
    }
    background-color: var(--md-sys-color-background);
  }

  .m3-nav-drawer-content-outlet {
    padding-top: 0;
    padding-right: var(--m3-sys-layout-spacing-pane);
    padding-left: 0;
    padding-bottom: 0;
    @include m3-layout.compact {
      padding-left: var(--m3-sys-layout-spacing-pane);
      transition: unset;
    }
  }
}

:host-context(.m3-elevation-z1) {
  .m3-nav-bottom-bar {
    background-color: var(--md-sys-color-surface3);
  }

  .m3-nav-top-bar {
    background-color: var(--md-sys-color-surface3);
  }

  .m3-nav-drawer-rail {
    background-color: var(--md-sys-color-surface3);
  }

  .m3-nav-drawer-expansion {
    @include m3-layout.explicit-range(compact, large) {
      background-color: var(--md-sys-color-surface4);
    }
    background-color: var(--md-sys-color-surface3);
  }

  .m3-nav-drawer-content-outlet {
    padding: var(--m3-sys-layout-spacing-pane);
  }
}

.m3-nav-drawer-shadow {
  @include m3-layout.explicit-range(compact, large) {
    max-width: 80px;
  }
  @include m3-layout.compact {
    max-width: 0;
  }
  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
  }
}

.m3-nav-drawer-content-outlet {
  //transition: var(--m3-comp-nav-pane-transition);
}

.m3-nav-bottom-bar {
  @include m3-layout.compact() {
    height: 80px;
    display: flex;
  }
  height: 0;
  display: none;
  width: 100%;
  flex-shrink: 0;
  position: fixed;
  z-index: 2;
  bottom: 0;
  align-items: center;

  .m3-nav-bar-button-container {
    display: flex;
    padding: 0 16px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

.m3-nav-bottom-bar-shadow {
  @include m3-layout.compact {
    height: 80px;
  }
}

.m3-nav-content-pane {
}

.m3-nav-section {
  display: block;
  transition: opacity 200ms var(--md-sys-motion-easing-emphasized);
  &.open {
    opacity: 1;
  }
  &.closed {
    opacity: 0;
  }
}

.m3-nav-section-title {
  margin-left: 28px;
  margin-top: 28px;
  margin-bottom: 12px;
  display: block;
}

.m3-nav-top-bar {
  height: 80px;
  position: sticky;
  flex-shrink: 0;
  z-index: 2;
  top: 0;
  display: flex;
}

.m3-nav-top-bar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include m3-layout.compact {
    margin-left: 80px;
  }
  > .left {
    padding-left: 24px;
  }
  > .spacing {
    flex-grow: 1;
  }
  > .right {
    padding-right: 24px;
  }
}

.m3-nav-drawer-rail {
  width: 80px;
  @include m3-layout.compact {
    height: 80px;
    position: absolute;
    > *:not(.m3-nav-drawer-header) {
      display: none;
    }
  }
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  transition: var(--m3-comp-nav-pane-transition);
  z-index: 3;
  overflow: hidden;
}

.m3-nav-drawer-header {
  padding-bottom: 12px;
  display: flex;
  align-self: flex-start;

  .m3-nav-drawer-menu-button {
    width: 24px;
    height: 24px;
    padding: 28px;
    cursor: pointer;
    user-select: none;
  }

  .m3-nav-drawer-title {
    align-self: center;
    white-space: nowrap;
  }
}

.m3-nav-drawer-expansion {
  @include m3-layout.explicit-range(compact, large) {
    position: relative;
    border-radius: var(--md-sys-shape-corner-large-end);
  }
  width: 360px;
  flex-shrink: 0;
  flex-direction: column;
  transition: var(--m3-comp-nav-pane-transition);
  z-index: 3;
}

.m3-nav-drawer-content {
  flex-grow: 1;
  overflow: auto;
}

.m3-nav-content-pane {
  height: 0;
}
